/* Global styles */

body {
  font-family: serif, sans-serif;
  background-color: rgb(249, 249, 249); /* Light grey */
  margin: 0;
}

.teal-text {
  color: #78c6c6; /* Teal color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Lighter shadow with offset (1px horizontally, 1px vertically), blur radius (2px), and color (rgba black with 30% opacity) */
}

.highlight {
  font-weight: bold;
  color: #008080; /* Teal color */
}

.scrollable-content {
  max-height: calc(100vh - 0px); /* Adjust the height as needed */
  overflow-y: auto;
}

/* Header styles */

.w3-content {
  max-width: 1400px;
}

/* Left Column styles */

.w3-third {
  font-family: 'Roboto Slab', serif
  height: 500vh; /* Adjust the height as needed */
  overflow-y: auto;
}


/* Footer styles */

.w3-teal {
  background-color: #748279; /* Teal color */
  color: white;
}

/* Profile photo styles */

.profile-photo {
  width: 100%;
  height: auto;
}
.w3-twothird {
  background-color: rgb(226, 239, 245); /* Change this to the desired background color */
}

/* Links styles */
.w3-twothird .w3-container {
  background-color: rgb(226, 239, 245); /* Change this to the desired background color */
}
/* Work Experience header */
.w3-twothird .w3-container h2 {
  font-family: 'Roboto Slab', serif;
  background-color: rgb(226, 239, 245);
  padding: 10px; /* Add padding to make the background color visible */
}



a {
  color: #0077b5; /* LinkedIn blue */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

